* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.3rem;
}

a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 0 0 1em;
}

ol,
p,
ul {
    line-height: 1.75;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

form {
    margin: 0;
}

input {
    border: none;
}

.wrap--narrow {
    max-width: 860px;
}

@media (min-width: $tablet-breakpoint) {
    body {
        font-size: 1.4rem;
    }
}

@media (min-width: $tablet-breakpoint-2) {
    .wrap--narrow {
        margin: 0 auto;
    }
}
