// Breakpoints
$mobile-breakpoint: 380px;
$mobile-breakpoint-2: 540px;
$tablet-breakpoint: 720px;
$tablet-breakpoint-2: 890px;
$desktop-breakpoint: 960px;

// Colors
$aqua: #00aaca;
$blue-gray: #b3cbcf;
$blue-gray-dark: #75878a;
$orange: #da7c02;
$brown: #572600;
$white: #ffffff;
$black: #000000;
