// Breakpoints
$mobile-breakpoint: 380px;
$tablet-breakpoint: 720px;
$tablet-breakpoint-2: 890px;
$desktop-breakpoint: 960px;

// Colors
$aqua: #00aaca;
$brown: #572600;
$white: #ffffff;
$black: #000000;
