.home-content-wrapper {
    padding-top: 30px;
}

.card-grid__item {
    width: 100%;
    padding: 10px;

    & .card {
        width: 100%;
        max-width: none;
    }
}

.card {
    display: block;
    background: #edf2f3;
    position: relative;
    box-shadow: 0 0 15px hsla(0, 0%, 100%, 0.15);
    text-decoration: none;
    color: $blue-gray-dark;
    transition: box-shadow 0.3s ease;
}

.card__flag {
    background: $aqua;
    display: flex;
    height: 40px;
    max-width: calc(100% - 35px);
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: $white;

    &:after {
        border-top-color: $aqua;
        border-top: 40px solid $aqua;
        border-right: 35px inset hsla(0, 0%, 100%, 0);
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        content: "";
    }
}

.card__flag--orange {
    background: $orange;

    &:after {
        border-top-color: $orange;
        border-top: 40px solid $orange;
    }
}

.card__flag-text {
    align-self: flex-end;
    padding-bottom: 12px;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card__image {
    & img {
        width: 100%;
        display: block;
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    padding: 5.597% 11.194%;
}

.card__title {
    margin: 0 0 5px;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1.2941;
    color: $aqua;
}

.card__subtitle {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.375;
    color: $black;
}

.card__text {
    margin: 1em 0;
    font-size: 1.2rem;
    overflow-wrap: break-word;
}

.card__icons {
    padding: 0;
    list-style: none;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: $black;
}

.card__icons__icon {
    margin-right: 20px;
    font-weight: 500;
    line-height: 25px;

    & i {
        margin-left: 8px;
        font-size: 20px;
    }
}
