//***** Nav Menu *****//
.nav {
    width: 290px;
    height: 100%;
    padding-top: 68px;
    background: rgba(5, 171, 203, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    opacity: 0;
    transform: translateX(100%);
    transition-property: box-shadow, opacity, transform;
    transition: 0.3s ease;
}

.nav--open {
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.15);
    transform: translateX(0);
    opacity: 1;
}

.nav__wrap {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid $white;
}

.nav__link {
    flex: 1;
    display: block;
    padding: 15px 0;
    font-family: TradeGothicBold;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    color: $white;
    transition: color 0.3s ease;
}

.nav__link--current,
.nav__link--section,
.nav__link:hover {
    color: $brown;
}

//***** MEDIA QUERIES *****//
@media (min-width: $tablet-breakpoint) {
    .nav {
        width: 450px;
    }
}
